body {
    background: white;
    font-family: 'Trebuchet MS', sans-serif;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 64px;
}

h1 {
    color: black;
}

p {
    color: black;
}

header {
    display: flex;
    align-items: stretch;
    position: sticky;
    width: 100%;
    grid-column: 3;
}

.background_shader {
    display: block;
    width: 100vw;
    height: 100vh;
}